body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

#dssatmap,#vicmap{
height:70vh;
width:100%;
}

#map{

height:50vh;
width:100%;
 height: 45vh;
    overflow: hidden;
    margin-bottom: 50px;
}

#params{
overflow-x:hidden;
 overflow-y: auto;

 }

#chart,#chart2,#chart3{
height:47.5vh;
width:100%;
}

.panel {
    max-height: 100%;
}
.col-lg-3 {
    width: 25%;
    overflow: hidden;
    height: 37vh;
    margin-bottom: 50px;
}

#chart1{
  height: 45vh;
    margin-bottom: 50px;
    overflow: hidden;
 }

#container{
    height: calc(100vh - 100px);
}
#paramscontainer{
height: calc(100vh - 125px);
}

#mapcontainer{
height: 45vh;
}

#mappanel{
  height: 100%;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

#mappanelbody{
    height: 100%;
    position: relative;
    padding: 0;
}
