<html>
   {% load staticfiles %}
   {% load tethys_gizmos %}
   <head>
      {% block content_dependent_styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
      <link rel="stylesheet" href="{% static 'rheasvieweroption2/css/styles.css' %}" />
      {% endblock %}
         {% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Graph">
   <img src="{% static 'rheasvieweroption2/images/servir-logo.png' %}" width="200px" height="40px" style="right:0;position: absolute;filter:brightness(200%);">
</div>
{% endblock %}
   </head>
   <body>
      <h2><img src="{% static 'rheasvieweroption2/images/logo.png' %}" width="45" height="35" style="padding-bottom: 5px">RHEAS Viewer Beta</h2>
      <div class="topnav">
         <a id="home" href="{% url 'rheasvieweroption2:home' %}">Current</a>
         <a id="analysis" href="{% url 'rheasvieweroption2:vicdssat' %}">Analysis</a>
             <a id="outlook" href="{% url 'rheasvieweroption2:outlook' %}">Outlook</a>
         <div class="topnav-right">
            <a data-toggle="modal" data-target="#myModal">About</a>
            <a href="#help">Help</a>
         </div>
      </div>
      <div class="container-fluid">
         </br>
         <p class="text"> This is an application that lets you visualize the VIC and DSSAT maps. If you want to compare side by side go to Current tab and view the latest data. If you want to view the layers on top of each other by changing some parameters, go to Anaylysis tab
            . Outlook tab is in progress.
         </p>
         <div class="m-3 col-xs-6 col-sm-6" id="viccom">
            <div class="panel panel-primary"   class="mapstyle">
               <div class="panel-heading">VIC Standard Precipitation Index (SPI3) <span id="vicdate"></span></div>
               <div class="panel-body" style="padding:0;">
                  <div id="vicmap" class="map"></div>
                  <div class="cvs" id="vic_legend">
<!--                     <canvas id="curr_vic" height="50px"></canvas>-->
                  </div>
               </div>
            </div>
         </div>
         <div class="m-3 col-xs-6 col-sm-6" id="dssatcom">
            <div class="panel panel-primary"   class="mapstyle">
               <div class="panel-heading">DSSAT Cropland LAI Map  <span id="dssatdate"></div>
               <div class="panel-body" style="padding:0;">
                  <div id="dssatmap" class="map"></div>
                  <div class="cvs1">
                     <canvas id="curr_dssat" height="250px"></canvas>
                  </div>
               </div>
            </div>
         </div>
         <br>
<p>
 <p  class="text">The Regional Hydrologic Extremes Assessment System (RHEAS) is a modular hydrologic modeling framework that has been developed at JPL. At the core of the system lies a hydrologic model that can be run both in nowcasting (i.e. estimation of the current time period) and forecasting (i.e. estimation for future time periods) modes.
          The nowcasting simulations are constrained by assimilating a suite of Earth Science satellite observations, resulting in optimal estimates of directly and indirectly observed water variables. The latter nowcast estimates can then be used to initialize the 30- to 180-day forecasts.
          Datasets are automatically fetched from various sources (OpenDAP, FTP etc.) and ingested in a spatially-enabled PostGIS database, allowing for easy dissemination of maps and data.</p>
        <p  class="text">Documentation for RHEAS can be found at <a href="http://rheas.readthedocs.org/en/latest/" target="_blank">Read the Docs.</a></p>
        <p  class="text">A peer-reviewed journal article on RHEAS is also <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0176506" target="_blank">available.</a></p>
        <p class="text">External Resources and Links:</p>
        <p class="text"><a href="https://servirglobal.net/about-servir" target="_blank">About SERVIR</a></p>
        <p class="text"><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of Conditions</a></p>
        <p class="text"><a href="https://vic.readthedocs.io/en/master/" target="_blank">VIC Hydrology Model</a></p>
        <p class="text"><a href="http://dssat.net/" target="_blank">DSSAT Crop Model</a></p>
   
        <div align="center" style=" height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;" id="logos">
          <div class="logo-image"><a href="http://www.usaid.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/usaid.png"></a></div>
          <div class="logo-image"><a href="http://appliedsciences.nasa.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/nasa.png"></a></div>
          <div class="logo-image"><a href="http://www.cilss.bf/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/cilss.png"></a></div>
          <div class="logo-image"><a href="http://www.rcmrd.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/rcmrd.png"></a></div>
          <div class="logo-image"><a href="http://www.icimod.org/" target="_blank"><img style="width: 140px; margin-top: 10px;" src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/icimod.png"></a></div>
          <div class="logo-image"><a href="http://www.adpc.net/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/adpc.png"></a></div>
        </div>


					
</p>
         <div id="dssat" class="dssat" name="dssat" style="display:none;" data-geoserver-url="{{geoserver_wms_url}}"  data-geoserverwfs-url="{{geoserver_wfs_url}}" data-geoserver-workspace="{{geoserver_workspace}}"  data-rest-url="{{geoserver_rest_url}}"></div>
         <div id="variable" class="variable" name="variable" style="display: none" data-variable-info="{{variable_info}}" data-geoserver-url="{{geoserver_wms_url}}" data-rest-url="{{geoserver_rest_url}}" data-geoserver-workspace="{{geoserver_workspace}}"></div>
         <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">About RHEAS Viewer</h4>
                  </div>
                  <div class="modal-body">
                     <p>Description about VIC and DSSAT.</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="{% static 'rheasvieweroption2/js/main.js' %}" type="text/javascript"></script>
      <script src="{% static 'rheasvieweroption2/js/boundaries.js' %}" type="text/javascript"></script>

      <script src="{% static 'rheasvieweroption2/js/dssat.js' %}" type="text/javascript"></script>
      {% endblock %}
   <div id="loading"></div>
   </body>
</html>
